h2{
text-align:center;
color:white;
}

p{
text-align:center;
color:white;
}

div{
text-align:center;
margin: 0 auto;
padding: 45px;
color: white;
height:580px;
}

.style{
background-color:gray;
height:150vh;
}

input[type="radio"]:not(:checked)+.radio-text:before{
border-color:white;
background-color:white;
}

input[type="radio"]:checked+.radio-text:before{
background-color:white;
}
