body {
    background-color: gray;
}

form {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    border-bottom: solid 3px white;
    margin-top: 150px;
    margin-bottom: 60px;
}